@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot');
  src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('fonts/icomoon.woff') format('woff'),
    url('fonts/icomoon.ttf') format('truetype'),
    url('fonts/icomoon.svg#geo') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-rect:before{
  content: "\e637";  
  width: 30px;
  height: 30px;
}
.icon-tri:before{
  content: "\e60c";
  width: 30px;
  height: 30px;
}
.icon-round:before{
  content: "\e604";
  width: 30px;
  height: 30px;
}
.icon-star:before{
  content: "\e624";
  width: 30px;
  height: 30px;
}
.icon-heart:before{
  content: "\e64c";
  width: 30px;
  height: 30px;
}
.icon-selector:before{
  content: "\e65d";
  width: 30px;
  height: 30px;
}
.icon-clone:before{
  content: "\e666";
  width: 30px;
  height: 30px;
}
.icon-ok:before{
  content: "\e605";
  width: 30px;
  height: 30px;
}
.icon-text:before{
  content: "\e610";
  width: 30px;
  height: 30px;
}
.icon-pencil:before{
  content: "\e64f";
  width: 30px;
  height: 30px;
}
.icon-brush:before{
  content: "\e612";
  width: 30px;
  height: 30px;
}
.icon-spray:before{
  content: "\e6f9";
  width: 30px;
  height: 30px;
}
.icon-flip:before{
  content: "\e6cc";
  width: 30px;
  height: 30px;
}
.icon-folder:before{
  content: "\e646";
  width: 30px;
  height: 30px;
}
.icon-crop:before{
  content: "\e629";
  width: 30px;
  height: 30px;
}
.icon-ok:before{
  content: "\e605";
  width: 30px;
  height: 30px;
}
.icon-one:before{
  content: "\e6d7";
  width: 30px;
  height: 30px;
}
.icon-two:before{
  content: "\e6d8";
  width: 30px;
  height: 30px;
}
.icon-shirt:before{
  content: "\e82a";
  width: 30px;
  height: 30px;
}