
body {
  background-color: #888;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}

#tablet-api {
  position: absolute;
  top: -1000px;
}

#canvas-area{
  position: absolute;
  left: 10px;
  top: 50px;
  display: inline-block;
  cursor: default;  
  overflow: hidden;
  background: #FFF;
  width: 850px;
  height: 600px;
}
#the-devide{
  position: absolute;
  left: -1px;
  top: -1px;
  display: inline-block;
  width: 425px;
  height: 600px;
  border-style: solid;
  border-color: #e2e2e2;
  border-width: 1px;
}

#right-side {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  top: 50px;
  left: 880px;
}
#brush-image-shelf{
  float: left; 
  display: inline-block;
  padding-top: 2px;
  top:0px;
}
.upper-shelf{  
  float: left; 
  display: inline-block;
  padding-left: 10px;
  padding-top: 2px;
  top:0px;  
}
.info {
  display: inline-block;
  width: 25px;
  background: #fff;
  color: #000;
}

.geo-button{
  padding: 5px;
  line-height: 30px;
  font-size: 30px;
  float: left;
  border: 0;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  border-left: 1px solid #fff;
  background: #eee;
  opacity: 0.7;
}
.geo-button:hover{
  opacity: 1;
}
.geo-button:active{
  color: #00f;
}
.fakeInputContainer {
  display: inline-block;
}
.fakeInputContainer:hover {
  opacity: 1;
}
.fakeInputContainer:active {
  color: #00f;
}
.span-color {
  float: left;
  width: 50px;
  height: 20px;
  margin-bottom: 5px;
}
.recommend-color {
  width: 100%;
}
.clickable {
  cursor: pointer;  
}